<div id="page">
	<div id="page-bgtop">
		<div id="page-bgbtm">
			<div id="content">
			
			


				<div class="post">
					<div class="entry">
						<h1 class="header2">About Me</h1>		
					</div>
						
							<p class="para">Hi, I am Parth Modi.</p>
							<p class="para">I love to build softwares. I don't care much about which language to choose as long as it helps me making beautiful and efficient applications, But I enjoy working in Java and RoR more.</p>
							<p class="para">I like to read books, watch movies, TV shows, listen to music and spend time with the people I love and care about.
							</p>
						

					
					
						
					


				</div>



				<div class="entry">

				<div class='social-media-icons' id='social-icons'>
					<ul>
						<!-- facebook -->
						<li class='media_icon'><a href='http://facebook.com/parth.modi.359'><img border='0' src='http://2.bp.blogspot.com/-hJlnVDP-uXk/UaKErpYECEI/AAAAAAAADhA/DA59rR8trrA/s1600/Facebook.png'/></a></li>
						<!-- twitter -->
						<li class='media_icon'><a href='http://twitter.com/#!/ParthModi08'><img border='0' src='http://3.bp.blogspot.com/-x7YZ7aKIxM8/UaKErq0FZlI/AAAAAAAADhE/3zNd_IFPT8g/s1600/Twitter.png'/></a></li>

						<li class='media_icon'><a href='https://plus.google.com/115885247380801217391/about'><img border='0' src='http://1.bp.blogspot.com/-DNSrkD8pl14/UaKEsW_JdfI/AAAAAAAADhU/S0jGIdQuO4M/s1600/googleplus.png'/></a></li>

						<li class='media_icon'><a href='http://parthtalks.weebly.com/'><img border='0' src='http://2.bp.blogspot.com/-H3nOjhn9wk8/UaKErtM0_mI/AAAAAAAADg8/vJ8tEgRcl5M/s1600/RSS.png'/></a></li>

						<li class="media_icon">
							<a href="mailto:parthmodi54@yahoo.com">
							<img border='0' src='https://maxcdn.icons8.com/windows8/PNG/64/Messaging/new_post-64.png' length='48px' width='48px'/>
						</li>

					</ul>
				</div>
								
					</div>
						
							
						
					
					
					
						
					


				</div>
			</div>
			
	    <%= render 'layouts/sidebar' %>

			<!-- end #content -->
<!--  
<h1>
<%#= @new_feed.title %>
</h1>
<%#= link_to 'Gotham feed', home_gotham_url %>
<%#= link_to 'Arrow feed', home_index_url %>
<%#= link_to 'Game of thrones feed', home_got_url %>


<p> Here are the entries</p>

<%# @entries.each do |entry| %>
	Episode name: 
	<%#=entry.title%>
	<br>
	Episode link:
	<%#= link_to 'download link', entry.url %> 
	<br>
	Published at:
	<%#= entry.published %>
	<br>
	
	<br>
	<br>
	<br>
	<br>
<%# end %>
  -->