<div id="header">
	<div id="menu">
		<ul>
		
			<li>
				
				<%= link_to 'About', home_contact_path %>
			</li>
			<% if user_signed_in? %>
			
			
			<li>

				<% if session[:current_provider] == 'facebook' %>
					<%#= link_to 'Log out', facebook_logout_url, method: :get %>
					<%= link_to 'Log out', destroy_user_session_url, method: :delete %>
				<% else %>
					<%= link_to 'Log out', destroy_user_session_url, method: :delete %>
				<%#= link_to 'Log out', destroy_user_session_url, method: :delete %>
					
				<% end %>	
			</li>
			<% end %>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="logo">
		<h1><a href="#">Show Feeds</a></h1>
		
	</div>
	<hr />
</div>
<!-- end #header -->
<!-- end #header-wrapper -->
<!-- end #logo -->

