<div id="sidebar">
				<ul>
					<li>
						<h2>About this tool</h2>
						<div id="bg1">
							<div id="bg2">
								<p>Just select any TV show from selection and you will get list of latest episodes released with it's release date.</p>
							</div>
						</div>
					</li>
					<li>
						<h2>Popular TV shows</h2>
						<div id="bg1">
							<div id="bg2">
								<ul>
									<li><%= link_to 'Arrow', home_index_url %></li>
									<li><%= link_to 'Game Of Thrones', home_got_url %></li>
									<li><%= link_to 'Gotham feed', home_gotham_url %></li>
								</ul>
							</div>
						</div>
					</li>
					<li>
						<h2>Favourites</h2>
						<div id="bg1">
							<div id="bg2">
								<ul>
									
									<!-- <li><a href="#">Nec metus sed donec</a></li>
									<li><a href="#">Magna lacus bibendum mauris</a></li>
									<li><a href="#">Velit semper nisi molestie</a></li>
									<li><a href="#">Eget tempor eget nonummy</a></li>
									<li><a href="#">Nec metus sed donec</a></li>
									<li><a href="#">Nec metus sed donec</a></li>
									<li><a href="#">Magna lacus bibendum mauris</a></li>
									<li><a href="#">Velit semper nisi molestie</a></li>
									<li><a href="#">Eget tempor eget nonummy</a></li>
									<li><a href="#">Nec metus sed donec</a></li>
									 -->
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!-- end #sidebar -->
			